*{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

header { 
  display: flex;
  background-image: url(../img/IMG_2108.JPG);
  background-size: 100%;
  color: white;
  top: 0;
  width: 100%;
  height: 100px;
  font-family: 'Bodoni 72','Times New Roman',serif;
}

header h1 {
  padding-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 45px;
}

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  font-size: 45px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

main {
  background-color: #f1e6e9;
}

.vision h2{
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  font-family: 'Bodoni 72','Times New Roman',serif;
}
.vision p{
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 700;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
}

.mission h2{
  text-align: center;
  margin-top: 150px;
  font-size: 30px;
  font-family: 'Bodoni 72','Times New Roman',serif;
}

.mission p{
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 700;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
}

.value {
  text-align: center;
  margin-top: 150px;
  padding-bottom: 100px;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  justify-content: center;
}

.value h2{
  text-align: center;
  margin-top: 150px;
  font-size: 30px;
  font-family: 'Bodoni 72','Times New Roman',serif;
}

.value_contents {
  display: flex;
  margin-top: 50px;
  text-align: center;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
}

.upperleft {
  margin: 1em;
  position: relative;
  padding: 50px 1.5em;
  width: 25%;
  background-color: #fbf8f9;
  box-shadow: 0 4px 10px #868281;
}

.upperleft h3 {
  font-size: 25px;
  font-weight: 700;
}

.uppermiddle {
  margin: 1em;
  position: relative;
  padding: 50px 1.5em;
  width: 25%;
  background-color: #fbf8f9;
  box-shadow: 0 4px 10px #868281;
}

.uppermiddle h3 {
  font-size: 25px;
  font-weight: 700;
}

.upperright {
  margin: 1em;
  position: relative;
  padding: 50px 1.5em;
  width: 25%;
  background-color: #fbf8f9;
  box-shadow: 0 4px 10px #868281;
}

.upperright h3 {
  font-size: 25px;
  font-weight: 700;
}

.lowerleft {
  margin: 1em;
  position: relative;
  padding: 50px 1.5em;
  width: 25%;
  background-color: #fbf8f9;
  box-shadow: 0 4px 10px #868281;
}

.lowerleft h3 {
  font-size: 25px;
  font-weight: 700;
}

.lowermiddle {
  margin: 1em;
  position: relative;
  padding: 50px 1.5em;
  width: 25%;
  background-color: #fbf8f9;
  box-shadow: 0 4px 10px #868281;
}

.lowermiddle h3 {
  font-size: 25px;
  font-weight: 700;
}

.lowerright {
  margin: 1em;
  position: relative;
  padding: 50px 1.5em;
  width: 25%;
  background-color: #fbf8f9;
  box-shadow: 0 4px 10px #868281;
}

.lowerright h3 {
  font-size: 25px;
  font-weight: 700;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
  font-family: 'Bodoni 72','Times New Roman',serif;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  font-size: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 48px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay a{
  color:black;
}

.overlay a:hover{
    text-decoration: underline;
  }

.overlay.show li {
  opacity: 1;
  transform: none;
}



.pc-menu {
  display: none;
}



@media (min-width: 600px) {
  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .pc-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    display: flex;
    font-size: 24px;
  }

  .pc-menu a {
    color: white;
    text-decoration: none;
    display: block;
    width: 120px;
    line-height: 64px;
    text-align: center;
  }

  .pc-menu a:hover {
    opacity:0.5;
  }

  .sp-menu {
    display: none;
  }
}

.FooterSection {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #928f8d;
  text-align: center;
}

.Footer-Inner {
  margin: auto;
}

.Footer-Inner-Logo {
  margin: auto;
  width: 64px;

}

.Footer-Inner-List {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 480px;
  display: flex;
  justify-content: space-between;
}

.Footer-Inner-List-Item {
  margin-right: 8px;
  padding-left: 16px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

.Footer-Inner-List-Item:not(:first-child) {
  border-left: 1px solid #fff;
}

.Footer-Inner-CopyRight {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}