/* Add your styles here */
#global-menu {
    position: fixed; /* ビューポートに対する固定 */
    top: 0;
    right: 0;
    list-style-type: none;
    padding: 0;
    display: none; /* 最初は閉じておく */
  }
  
  #global-menu.open {
    display: block;
  }
  
  #global-menu-toggle-button {
    position: fixed; /* ビューポートに対する固定 */
    top: 0;
    right: 0;
    list-style-type: none;
    padding: 0;
  }
  /* デスクトップのときのみ */
  @media (min-width: 720px) {
    #global-menu {
      display: flex;
      position: static;
    }
  }
  
  #global-menu a {
    display: block;
    text-decoration: none;
  }
  
  #global-menu a:hover {
    background-color: #eee;
  }
  
  